@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

body{
    margin: 0;
    padding: 0;   
    overflow: hidden;
    font-family: 'Jomhuria', cursive;
    background: linear-gradient(to bottom, #0047AB, #ADD8E6);  
    height: 300vh;
}

.img-social{
    width: 4rem;
    height: auto;
}

.img-Info{
    width: 3rem;
    height: auto;
}

.font{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.font2{
  font-size: xx-large;
}

.font3{
  font-size: xx-large;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body{ 
      overflow: auto;
      background-size: cover;
      height: 100%; 
      margin-bottom: 30%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */